:root {
  --light-primary: #fff;
  --light-secondary: #cecece;
  --light-ternary: #f0f0f0;
  --light-text: #3a3a3a;
  --dark-primary: #352F44;
  --dark-secondary: #5C5470;
  --dark-ternary: #3f345f;
  --dark-text: #FAF0E6;
  --color-link: #55bfec;
}

/**
    THIS ARE SOME BASIC DEFAULT STYLES
    @mixin ===================================*/
html {
  font: 16px/1.5 "Open Sans", sans-serif;
  box-sizing: border-box;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  --primary: var(--light-primary);
  --secondary: var(--light-secondary);
  --ternary: var(--light-ternary);
  --text: var(--light-text);
  color: var(--text);
  background-color: var(--primary);
}

body.dark-theme {
  --primary: var(--dark-primary);
  --secondary: var(--dark-secondary);
  --ternary: var(--dark-ternary);
  --text: var(--dark-text);
}

body.dark-theme .theme__light {
  top: -150%;
}

body.dark-theme .theme__dark {
  top: 50%;
}

body.dark-theme .theme__sun {
  transition-delay: .25s;
  transform: scale(0) rotate(360deg);
}

body.dark-theme .theme__moon {
  transform: scale(1) rotate(360deg);
}

a {
  color: var(--color-link);
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/**
    THIS ARE CUSTOM STYLES
    @mixin ===================================*/
.header {
  width: 100%;
  border-bottom: 1px solid var(--ternary);
  box-shadow: 0 -2px 4px 0 var(--text);
}

.header__content {
  height: 80px;
}

.header__logo {
  font-size: 36px;
  font-weight: 600;
}

.theme__toggler {
  -webkit-appearance: none;
  border: none;
  outline: none;
  gap: 10px;
  color: currentColor;
  font-size: 20px;
  position: relative;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
  text-transform: capitalize;
  background-color: var(--ternary);
}

.theme__icons, .theme__names {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}

.theme__names {
  width: 50px;
}

.theme__light, .theme__dark {
  position: absolute;
  display: inline-block;
  left: 0;
  transform: translateY(-50%);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.theme__sun, .theme__moon {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.theme__sun {
  transform: scale(1);
}

.theme__moon {
  transition-delay: .25s;
  transform: scale(0);
}

.theme__dark {
  top: 150%;
}

.theme__light {
  top: 50%;
}

main {
  padding-top: 30px;
}

.sketch {
  padding: 50px 0px;
}

.sketch__sidebar {
  width: 240px;
}

.sketch__menu > li {
  margin-bottom: 20px;
}

.sketch__menu h3 {
  text-transform: capitalize;
  padding: 10px 0px;
  font-weight: 700;
  border-bottom: 1px solid var(--ternary);
  margin-bottom: 10px;
}

.sketch__content {
  width: 720px;
  gap: 20px;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: var(--ternary);
}

.colors {
  gap: 10px;
}

.colors > .flex {
  gap: 6px;
}

.colors__recent li {
  color: red;
  width: 40px;
  height: 40px;
  background-color: currentColor;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.colors__recent li:hover .colors__icon {
  visibility: visible;
  opacity: 1;
}

.colors__recent li:not(:last-of-type) {
  margin-right: 10px;
}

.colors__recent li::before {
  content: '';
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  border: 4px solid var(--primary);
}

.colors__icon {
  color: var(--text);
  position: absolute;
  background-color: var(--primary);
  border-radius: 4px;
  padding: 4px;
  top: 0px;
  right: -10px;
  transition: all .5s;
  visibility: hidden;
  opacity: 0;
}

.colors input[type="color"] {
  outline: none;
  border: none;
  width: 80px;
  height: 40px;
  margin-right: 10px;
  border-radius: 2px;
  background-color: transparent;
  display: inline-block;
  -webkit-appearance: none;
}

.canvas {
  width: 680px;
  height: 680px;
  background-color: var(--primary);
}

/**
    THIS ARE UTILITY CLASSES
    @mixin ===================================*/
.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.flex--end {
  justify-content: flex-end;
}

.flex--evenly {
  justify-content: space-evenly;
}

.flex--between {
  justify-content: space-between;
}

.flex--center {
  justify-content: center;
}

.flex--items-start {
  align-items: flex-start;
}

.flex--items-center {
  align-items: center;
}
