\:root
    --light-primary: #fff
    --light-secondary: #cecece
    --light-ternary: #d8dbe0
    --light-text: #3a3a3a
    --dark-primary: #352F44
    --dark-secondary: #5C5470
    --dark-ternary: #B9B4C7
    --dark-text: #FAF0E6
    --color-link: #25b6f4
