doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Etch a Sketch Game

        // loading feather-icons library from CDN
        script(src="https://unpkg.com/feather-icons@4.29.1/dist/feather.min.js" defer)
        
        // loading javascript
        script(src="./js/main.js" defer) 

        // loading google fonts
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap")
        
        // loading stylesheet
        link(rel="stylesheet", href="./css/main.css")
    body
        header.header.flex.flex--items-center
            .container
                .header__content.flex.flex--items-center.flex--between
                    .header__logo
                        a(href="#") Etch a Sketch
                    .header__themes
                        button(type="button" class="theme__toggler flex flex--items-center") 
                            span.theme__icons
                                i.theme__sun.flex.flex--items-center.flex--center(data-feather="sun")
                                i.theme__moon.flex.flex--items-center.flex--center(data-feather="moon")
                            span.theme__names
                                span.theme__light Light
                                span.theme__dark dark

        main
            .container
                .sketch.flex.flex--evenly.flex--items-start
                    .sketch__sidebar
                        ul.sketch__menu
                            li
                                h3 colors
                                .colors.flex.flex--column
                                    .flex.flex--column
                                        .flex.flex--items-center
                                            input(type="color", id="pen_color")
                                            label(for="pen_color") Pen Color

                                        ul#recent_pen_colors.colors__recent.flex.flex-items-center
                                            //- li #[i.colors__icon(data-feather="trash-2")]

                                    .flex.flex--column
                                        .flex.flex--items-center
                                            input(type="color", id="bg_color")
                                            label(for="bg_color") Background Color

                                        ul#recent_bg_colors.colors__recent.flex.flex-items-center
                                            //- li #[i.colors__icon(data-feather="trash-2")]

                            li
                                h3 rainbow togglers
                                .group
                                    .group__item
                                        input(type="radio", id="recent", name="rainbow", value="recent")
                                        label(for="recent") Recent
                                    .group__item
                                        input(type="radio", id="random", name="rainbow", value="random")
                                        label(for="random") Random

                            li
                                h3 shades
                                .group
                                    .group__item
                                        input(type="radio", id="lighten", name="shading", value="lighten")
                                        label(for="lighten") lighten
                                    .group__item
                                        input(type="radio", id="darken", name="shading", value="darken")
                                        label(for="darken") darken

                            li
                                h3 Erasers
                                .group
                                    .group__item
                                        input(type="radio", name="eraser", id="eraser", value="erase")
                                        label.btn--l-radius(for="eraser") Eraser
                                    .group__item
                                        button.btn.btn--r-radius#clear(type="button") Clear Canvas

                    .sketch__content.flex.flex--column
                        .flex.flex--end
                            .group.group--np
                                .group__item
                                    input(type="checkbox", id="grid-lines")
                                    label(for="grid-lines") toggle grid lines
                        .canvas.flex.flex--wrap.flex-items-stretch#canvas

                        .flex.flex--between.flex--items-start
                            .canvas__grid.flex.flex--column
                                .group.group--np
                                    .group__item
                                        button#grid_size_dec.btn.btn--l-radius(type="button") -
                                        input(type="text", id="grid_size", value="8")
                                        label(for="grid_size") x 8
                                        button#grid_size_inc.btn.btn--r-radius(type="button") +
                                
                            button.btn.btn--download(type="button")
                                span download
                                span
                                    i(data-feather="download")

